* {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #21252b;
}

h1 {
  position: absolute;
  top: 40px;
  left: 40px;
  margin: 0;
  font-size: 5em;
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #99c27c;
}

h2 {
  position: absolute;
  top: 125px;
  left: 45px;
  font-weight: 300;
  color: #5ab6c1;
}

.node rect {
  fill: #3b424e;
  stroke: #000;
  stroke-width: 2px;
}

.node text {
  font: 16px;
  fill: #e1bf90;
}

.node--internal {
  cursor: pointer;
}

.node--internal rect {
  fill: #2c313a;
}

.node--internal text {
  fill: #cf9969;
}

.link {
  fill: none;
  stroke: #c57bdb;
  stroke-opacity: 0.3;
  stroke-width: 3px;
}

.link.focus {
  stroke: #5ab6c1;
  stroke-opacity: .7;
  stroke-width: 4px;
}
