<!DOCTYPE html>
<html>
<head>
  <title>Envision</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300" rel="stylesheet">
  <style>{{{css}}}</style>
</head>
<body>
  <h1>Envision</h1>
  <svg id="tree"></svg>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>const data = {{{hierarchy}}};</script>
  <script>{{{javascript}}}</script>
</body>
</html>
